﻿@model CreateProductViewModel


<form asp-action="AddNewProduct" method="post" class="form-horizontal" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <h1>@ViewData["Title"]</h1>
    <h3>@ViewData["Description"]</h3>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ProductPrice" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="ProductPrice" class="form-control" />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ProductCategory" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <p>
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.ProductCategories, "Id", "Name"))
            </p>
            <span asp-validation-for="ProductCategory" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Add New Product" />
        </div>
    </div>

</form>