﻿@model CustomerSearchResultsViewModel

<h1>SearchResults</h1>
<div><b>Showing founded customers for any of the inputed terms</b><br /></div>
<p>Customers from RestaurantDelivery</p>

@if (Model.ExistingCustomer.Count() == 0)
{
    <p>
        <strong>No Customers have been found!</strong>
    </p>
}
else
{
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Customer Id </th>
            <th>First Name </th>
            <th>Last Name </th>
            <th>Email</th>
            <th>JobTitle </th>
            <th>Age </th>
            <th>MaritalStatus </th>
            <th>HomePhoneNumber </th>
            <th>WorkPhoneNumber </th>
            <th>AddressLine1 </th>
            <th>AddressLine2 </th>
            <th>City </th>
            <th>PostalCode </th>
        </tr>


        @foreach (var d in Model.ExistingCustomer)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.FirstName</td>
                <td>@d.LastName</td>
                <td>@d.EmailAddress</td>
                <td>@d.JobTitle</td>
                <td>@d.Age</td>
                <td>@d.MaritalStatus</td>
                <td>@d.HomePhoneNumber</td>
                <td>@d.WorkPhoneNumber</td>
                <td>@d.AddressLine1</td>
                <td>@d.AddressLine2</td>
                <td>@d.City</td>
                <td>@d.PostalCode</td>
            </tr>
        }

    </table>
}
<p>Customers from AdventureWorks2017</p>

@if (Model.AdvWorksCustomer.Count() == 0)
{
    <p>
        <strong>No Customers have been found!</strong>
    </p>
}
else
{
    <form asp-action="MigrateOldCustomers" method="post" class="form-horizontal" role="form">
        <p>Customers from AdventureWorks2017, Migrate is available</p>

        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Migrate to AdventureWorks </th>
                <th>Customer Id </th>
                <th>First Name </th>
                <th>Last Name </th>
                <th>Email</th>
                <th>JobTitle </th>
                <th>Age </th>
                <th>MaritalStatus </th>
                <th>HomePhoneNumber </th>
                <th>WorkPhoneNumber </th>
                <th>AddressLine1 </th>
                <th>AddressLine2 </th>
                <th>City </th>
                <th>PostalCode </th>
            </tr>

            @for (int i = 0; i < Model.AdvWorksCustomer.Count(); i++)
            {
                <tr>

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].BusinessEntityId)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].FirstName)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].LastName)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].EmailAddress)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].JobTitle)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].Age)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].MaritalStatus)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].HomePhoneNumber)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].WorkPhoneNumber)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].AddressLine1)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].AddressLine2)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].City)

                    @Html.HiddenFor(m => Model.AdvWorksCustomer[i].PostalCode)
                    <td>@Html.CheckBoxFor(m => Model.AdvWorksCustomer[i].IsSelected)</td>
                    <td>@Model.AdvWorksCustomer[i].BusinessEntityId</td>
                    <td>@Model.AdvWorksCustomer[i].FirstName</td>
                    <td>@Model.AdvWorksCustomer[i].LastName</td>
                    <td>@Model.AdvWorksCustomer[i].EmailAddress</td>
                    <td>@Model.AdvWorksCustomer[i].JobTitle</td>
                    <td>@Model.AdvWorksCustomer[i].Age</td>
                    <td>@Model.AdvWorksCustomer[i].MaritalStatus</td>
                    <td>@Model.AdvWorksCustomer[i].HomePhoneNumber</td>
                    <td>@Model.AdvWorksCustomer[i].WorkPhoneNumber</td>
                    <td>@Model.AdvWorksCustomer[i].AddressLine1</td>
                    <td>@Model.AdvWorksCustomer[i].AddressLine2</td>
                    <td>@Model.AdvWorksCustomer[i].City</td>
                    <td>@Model.AdvWorksCustomer[i].PostalCode</td>
                </tr>
            }
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-primary" value="Migrate Selected" />
            </div>
        </div>
    </form>
}
