﻿@model List<EmployeeListThatLastNameStartsWithL>

<html>
<body>
    <h3>@ViewData["ChooseDal"]</h3>
    @Html.DropDownList("dal", new SelectListItem[]
        {
            new SelectListItem() {Text = "ADO",Value = "ADO"
        },
        new SelectListItem()
        {
            Text="EF",Value = "EFCore"
        } },
        new
        {
            @onchange = "submitDal(this.value)"
        })
    <script>
        function submitDal(val) {
            window.location.href = "/Home/EmployeeListThatLastNameStartsWithL?dal=" + val;
        }
    </script>
    <h1>@ViewData["Title"]</h1>
    <h3>@ViewData["Description"]</h3>
    @foreach (var element in Model)
    {
        <p>@Html.DisplayFor(m => element)</p>
    }
</body>
</html>
