﻿@model OrderCartViewModel

<h3>3/3 - Select a product to be added in the Order.</h3>
<div><b>All products are delicious</b><br /></div>
<form asp-action="CreateOrder" method="post" class="form-horizontal" role="form">
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Select a Product</th>
            <th>Product Price </th>
            <th>Name </th>
            <th>Description</th>
        </tr>
        @Html.HiddenFor(m => m.CustomerId)
        @for (int i = 0; i < Model.Products.Count; i++)
        {
            <tr>
                @Html.HiddenFor(m => Model.Products[i].Id)
                @Html.HiddenFor(m => Model.Products[i].ProductPrice)

                <td>@Html.RadioButtonFor(m => Model.Products[i].IsSelected, true)</td>
                <td>@Model.Products[i].ProductPrice</td>
                <td>@Model.Products[i].Name</td>
                <td>@Model.Products[i].Description</td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Create Order" />
        </div>
    </div>
</form>



