﻿@model List<SelectCustomerViewModel>

<h3>Select the Customer</h3>
<div><br /></div>
<form asp-action="SelectProducts" method="post" class="form-horizontal" role="form">
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Selected </th>
            <th>Customer Id </th>
            <th>First Name </th>
            <th>Last Name </th>
            <th>Email</th>
            <th>JobTitle </th>
            <th>Age </th>
            <th>MaritalStatus </th>
            <th>HomePhoneNumber </th>
            <th>WorkPhoneNumber </th>
            <th>AddressLine1 </th>
            <th>AddressLine2 </th>
            <th>City </th>
            <th>PostalCode </th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                @Html.HiddenFor(m => Model[i].Id)
                <td>@Html.RadioButtonFor(m => Model[i].IsSelected, true)</td>
                <td>@Model[i].Id</td>
                <td>@Model[i].FirstName</td>
                <td>@Model[i].LastName</td>
                <td>@Model[i].EmailAddress</td>
                <td>@Model[i].JobTitle</td>
                <td>@Model[i].Age</td>
                <td>@Model[i].MaritalStatus</td>
                <td>@Model[i].HomePhoneNumber</td>
                <td>@Model[i].WorkPhoneNumber</td>
                <td>@Model[i].AddressLine1</td>
                <td>@Model[i].AddressLine2</td>
                <td>@Model[i].City</td>
                <td>@Model[i].PostalCode</td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Next" />
        </div>
    </div>
</form>
